@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 100%/1.3 Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #698083;
  display: block;
  padding-bottom: .5em;
  padding-right: .75em;
  padding-top: .5em;
}

nav ol {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  clear: both;
  margin: 0;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
  float: right;
  margin: 1.3rem;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav a:hover {
  background-color: pink;
  color: yellow;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

header {
  background-color: #b9b5b5;
  margin: 0;
  overflow: hidden;
}

header h1 {
  margin: 0;
}

.logo {
  float: left;
  max-height: 1em;
  margin: 1.3rem;
}

.banner {
  display: block;
  background-color: #404144;
}

.banner-content {
  display: inline-block;
  padding: 0;
  font-weight: lighter;
  color: #b9b5b4;
}

.banner-text {
  width: 50%;
  float: left;
  font-size: 2.5rem;
  line-height: 1.3rem;
}

.img-flex {
  width: 50%;
  float: left;
  margin-top: 2rem;
}

.banner-bottom {
  display: block;
  text-align: center;
  color: #b9b5b5;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.banner-bottom p {
  padding: 0;
  margin: 1.3rem;
  margin-top: 0;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
  color: #b9b5b5;
  text-decoration: none;
  background-color: #6a8184;
  margin-top: 1.3rem;
  margin-bottom: 2.6rem;
  padding: .5rem 2.6rem;
}

.btn:hover {
  background-color: #b9915d;
}

.cards {
  background-color: grey;
  text-align: center;
  overflow: hidden;
  display: none;
}

.cards img {
  max-width: 80px;
}

.cards a p {
  color: #698083;
  text-decoration: none;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  float: left;
  width: 50%;
  padding-bottom: 1.3rem;
  background-color: #b9b5b4;
}

.card-1,
.card-2,
.card-3,
.card-4, p {
  text-decoration: none;
}

.deal-of-the-week {
  background-color: #b9b5b5;
  float: left;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 13px;
  text-decoration: none;
  color: #b9915c;
  font-weight: lighter;
}

.dow-content {
  width: 50%;
  margin: 0;
  float: left;
  display: inline-block;
}

.dow-img-flex {
  width: 50%;
  height: 50%;
  float: right;
  display: inline-block;
  padding-bottom: 21px;
  max-width: 15em;
}

.deal-of-the-week p {
  padding: 0px 21px 13px 21px;
  margin: 0;
  color: #404144;
}

.healthy-options {
  background-color: #404144;
  width: 100%;
  clear:both;
  overflow: hidden;
}

.menu {
  overflow: hidden;
  clear: both;
  background-color: #b9b5b4;
}

.icon {
  display: block;
  width: 100%;
}

.icon-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #404144;
  overflow: hidden;
}

.icon-group-item {
  display: inline-block;
  width: 100%;
  float: left;
  margin: .3em;
  width: 97%;
  padding: .5em;
  padding-bottom: 1.3rem;
  background-color: #404144;
  color: #698083;
  text-align: left;
}

.icon-group-image {
  display: inline-block;
  margin-right: .4em;
  width: 64px;
  vertical-align: middle;
}

.icon-group-body {
  display: inline-block;
  width: calc(100% - 64px - .8em);
  vertical-align: middle;
}

.icon-group-title {
  display: block;
}


.chefs-choice {
  background-color: #3f4043;
  float: left;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 13px;
  text-decoration: none;
}

.cc-content {
  width: 50%;
  margin: 0;
  float: right;
  display: inline-block;
}

.cc-img-flex {
  width: 50%;
  height: 50%;
  float: left;
  display: inline-block;
  padding-bottom: 21px;
  max-width: 15em;
}
.chefs-choice p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.hours {
  float: left;
  display: inline-block;
  background-color: #3f4043;
  width: 50%;
  padding-bottom: 80px;
  min-height: 200px;
}

.fbook-icon {
  width: 30px;
}

.location {
  float: right;
  text-align: right;
  display: inline-block;
  background-color: #3f4043;
  width: 50%;
  min-height: 200px;
}

.location p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.hours p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.social-media {
  background-color: #3f4043;
}

.social-media-buttons {
  margin: auto;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  padding: 13px;
}

.fbook-icon {
  margin: 20px;
  margin-top: 0px;
}

footer {
  clear: both;
}

@media only screen and (min-width: 25em) {

  .banner-bottom p {
    margin-top: 1.4rem;
  }

  .banner-text {
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 0;
  }

  .cards {
    display: block;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    float: left;
    width: 50%;
    padding-bottom: 1.3rem;
  }

  .card-1 a {
    text-decoration: none;
  }

  .icon-group-item {
    background-color: pink;
  }

}

@media only screen and (min-width: 38em) {

  html {
     font-size: 110%;
     line-height: 1.4;
   }

   .banner-text {
     font-size: 3rem;
     line-height: 3rem;
     margin: 0;
   }

  .icon-group-item {
    background-color: #b9b5b4;
    margin: 0;
    width: 50%;
    }

  .social-media {
    display: inline-block;
    width: 40%;
    min-height: 200px;
  }

  .hours {
    width: 30%;
  }

  .location {
    width: 30%;
  }

  .social-media-buttons {
    padding: 50px;
  }

  .fbook-icon {
    margin: 6px;
  }

}

@media only screen and (min-width: 60em) {

  html {
      font-size: 120%;
      line-height: 1.5;
    }

    .banner-text {
      font-size: 3.5rem;
      line-height: 4rem;
      margin: 0;
      padding-left: 10px;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
      float: left;
      width: 25%;
      padding-bottom: 1.3rem;
      min-height: 250px;
    }
    .nav-check,
    .nav-label {
      display: none;
    }

    header {
      position: relative;
    }

    header h1 {
      float: left;
    }

    nav {
      position: absolute;
      right: 0;
      top: .5em;
    }

    .nav {
      display: block;
      padding-top: .5rem;
    }

    .nav li {
      float: none;
      width: auto;
      display: inline-block;
    }

    .nav ol {
      text-align: center;
    }

}

@media only screen and (min-width: 90em) {

  html {
  font-size: 130%;
  line-height: 1.5;
}

.banner-text {
  font-size: 4rem;
  line-height: 3rem;
  margin: 0;
}
.icon-group-item {
  background-color: #b9b5b4;
  margin: 0;
  width: 25%;
  }

}
